<footer>

    <div class="row mx-0 mb-5 align-items-center w-100 log">
        <hr class="w-100 hr-left" />
        <div class="col-2 col-lg-2 text-center logofootercol">
            <img src="images/logo.svg" class="logofooter" alt="" />
        </div>
        <hr class="w-100 hr-right" />
    </div>


    <div class="container mb-4 mb-md-5">
        <div class="row">
            <div class="col-lg-4">
                <p>AMICALEMENT VOTRE</br> AUTOMOBILE CLUB - AVAC</p>
                <p>37 rue Albert Joly</br>
                    78400 Chatou</br>
                    02 32 XX XX XX</p>
                <ul class="d-flex gap-3 p-0 m-0">
                    <li><a href="#"><img src="images/insta.svg" alt="" /></a></li>
                    <li><a href="#"><img src="images/linked.svg" alt="" /></a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li>
                        <a href="collection.html">La collection</a>
                    </li>
                    <li>
                        <a href="services.html">Nos services</a>
                    </li>
                    <li>
                        <a href="qui-sommes-nous.html">La communauté</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                    <li>
                        <a href="">Connexion</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 formsec">
                <p class="mb-1">Profitez de nos expériences de conduite en avant-première</p>
                <div class="w-100 d-flex justify-content-between gap-3 mb-2">
                    <input placeholder="Email" type="email" />
                    <button>S’inscrire</button>
                </div>
                <span>En cliquant sur s’inscrire, vous acceptez d’être recontacté par Amicalement Vôtre à des fins
            commerciales.</span>
            </div>
        </div>
    </div>
    <div class="container">
        <hr />
        <div class="py-2 footerbtm text-center">
            <p>Mentions légales • Politique de confidentialité • © 2024 AMICALEMENT VOTRE AUTOMOBILE CLUB - AVAC SAS Tous
                droits réservés</p>
        </div>
    </div>
</footer>
