{% extends "base.html.twig" %}

{% block body %}

{% include "_partials/header.html.twig" %}
  <section>
    <div class="heroDiv d-flex justify-content-center align-items-center flex-column text-center">
      <div class="container">
        <h4>Devenir membre</h4>
        <h1>Rejoindre la famille <br> Amicalement Vôtre</h1>
      </div>
    </div>
  </section>


<section class="pricing-section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Bloc Tarif Gauche -->
      <div class="col-md-6" data-aos="fade-down" data-aos-delay="500">
        <div class="pricing-box">
          <div class="title-container">
          <h2 class="h2 mb-0">Un seul tarif</h2>
            <span class="label-annuel">Annuel</span>
            </div>
          <p class="txt">
              Rejoignez notre club et accédez à tous les privilèges.
          </p>
          <div class="pricing-details">
            <span class="price-barre">50€</span>
            <span class="price-free">GRATUIT</span>
          </div>
          <p class="offer-text">
            Cotisation annuelle offerte aux 50 premiers membres. <br> Ne traînez pas !
          </p>
          <button class="cta-button">Je m'inscris dès maintenant</button>
        </div>
      </div>

      <!-- Bloc Avantages Droite -->
      <div class="col-md-6">
        <div class="advantages-box">
          <h2 class="h2">Les avantages</h2>
          <ul class="advantages-list">
            <li data-aos="fade-left" data-aos-delay="500">
              <span class="icon">
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26.366" height="26.366" viewBox="0 0 26.366 26.366">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_875" data-name="Rectangle 875" width="26.366" height="26.366" transform="translate(0 0)" fill="none" stroke="#db5c1d" stroke-width="1.2"/>
    </clipPath>
  </defs>
  <g id="Groupe_2752" data-name="Groupe 2752" transform="translate(-399.707 -860.817)">
    <g id="Groupe_2484" data-name="Groupe 2484" transform="translate(399.707 860.817)">
      <g id="Groupe_2483" data-name="Groupe 2483" clip-path="url(#clip-path)">
        <path id="Tracé_1918" data-name="Tracé 1918" d="M25.866,13.183c0,1.584-2.239,2.712-2.81,4.089-.592,1.428.171,3.8-.905,4.879s-3.451.313-4.879.905c-1.377.571-2.5,2.81-4.089,2.81s-2.711-2.239-4.089-2.81c-1.428-.592-3.8.171-4.879-.905S3.9,18.7,3.31,17.272C2.739,15.894.5,14.767.5,13.183s2.239-2.712,2.81-4.089c.592-1.428-.171-3.8.905-4.879S7.666,3.9,9.094,3.31C10.472,2.739,11.6.5,13.183.5S15.9,2.739,17.272,3.31c1.428.592,3.8-.171,4.879.905s.313,3.451.905,4.879C23.627,10.472,25.866,11.6,25.866,13.183Z" fill="none" stroke="#db5c1d" stroke-width="1.2"/>
      </g>
    </g>
    <path id="Tracé_2082" data-name="Tracé 2082" d="M5.358,8.936l3.935,4.892,5.665-6.657" transform="translate(403 863.165)" fill="none" stroke="#db5c1d" stroke-width="1.2"/>
  </g>
</svg>
              </span>
                Un kit de bienvenue
            </li>
            <li data-aos="fade-left" data-aos-delay="600">
              <span class="icon">
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26.366" height="26.366" viewBox="0 0 26.366 26.366">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_875" data-name="Rectangle 875" width="26.366" height="26.366" transform="translate(0 0)" fill="none" stroke="#db5c1d" stroke-width="1.2"/>
    </clipPath>
  </defs>
  <g id="Groupe_2752" data-name="Groupe 2752" transform="translate(-399.707 -860.817)">
    <g id="Groupe_2484" data-name="Groupe 2484" transform="translate(399.707 860.817)">
      <g id="Groupe_2483" data-name="Groupe 2483" clip-path="url(#clip-path)">
        <path id="Tracé_1918" data-name="Tracé 1918" d="M25.866,13.183c0,1.584-2.239,2.712-2.81,4.089-.592,1.428.171,3.8-.905,4.879s-3.451.313-4.879.905c-1.377.571-2.5,2.81-4.089,2.81s-2.711-2.239-4.089-2.81c-1.428-.592-3.8.171-4.879-.905S3.9,18.7,3.31,17.272C2.739,15.894.5,14.767.5,13.183s2.239-2.712,2.81-4.089c.592-1.428-.171-3.8.905-4.879S7.666,3.9,9.094,3.31C10.472,2.739,11.6.5,13.183.5S15.9,2.739,17.272,3.31c1.428.592,3.8-.171,4.879.905s.313,3.451.905,4.879C23.627,10.472,25.866,11.6,25.866,13.183Z" fill="none" stroke="#db5c1d" stroke-width="1.2"/>
      </g>
    </g>
    <path id="Tracé_2082" data-name="Tracé 2082" d="M5.358,8.936l3.935,4.892,5.665-6.657" transform="translate(403 863.165)" fill="none" stroke="#db5c1d" stroke-width="1.2"/>
  </g>
</svg>

              </span>
               <p> Des expériences exclusives <br>
               <span class="spanette"> Rallyes privés et essais, expériences gastronomiques et oenologiques, visites culturelles.</span></p>
            </li>
            <li data-aos="fade-left" data-aos-delay="700">
              <span class="icon">
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26.366" height="26.366" viewBox="0 0 26.366 26.366">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_875" data-name="Rectangle 875" width="26.366" height="26.366" transform="translate(0 0)" fill="none" stroke="#db5c1d" stroke-width="1.2"/>
    </clipPath>
  </defs>
  <g id="Groupe_2752" data-name="Groupe 2752" transform="translate(-399.707 -860.817)">
    <g id="Groupe_2484" data-name="Groupe 2484" transform="translate(399.707 860.817)">
      <g id="Groupe_2483" data-name="Groupe 2483" clip-path="url(#clip-path)">
        <path id="Tracé_1918" data-name="Tracé 1918" d="M25.866,13.183c0,1.584-2.239,2.712-2.81,4.089-.592,1.428.171,3.8-.905,4.879s-3.451.313-4.879.905c-1.377.571-2.5,2.81-4.089,2.81s-2.711-2.239-4.089-2.81c-1.428-.592-3.8.171-4.879-.905S3.9,18.7,3.31,17.272C2.739,15.894.5,14.767.5,13.183s2.239-2.712,2.81-4.089c.592-1.428-.171-3.8.905-4.879S7.666,3.9,9.094,3.31C10.472,2.739,11.6.5,13.183.5S15.9,2.739,17.272,3.31c1.428.592,3.8-.171,4.879.905s.313,3.451.905,4.879C23.627,10.472,25.866,11.6,25.866,13.183Z" fill="none" stroke="#db5c1d" stroke-width="1.2"/>
      </g>
    </g>
    <path id="Tracé_2082" data-name="Tracé 2082" d="M5.358,8.936l3.935,4.892,5.665-6.657" transform="translate(403 863.165)" fill="none" stroke="#db5c1d" stroke-width="1.2"/>
  </g>
</svg>
              </span>
                <p>Une communauté de passionnés <br>
                <span class="spanette">Événements privés, échanges, programme de parrainage.</span></p>
            </li>
            <li data-aos="fade-left" data-aos-delay="800">
              <span class="icon">
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26.366" height="26.366" viewBox="0 0 26.366 26.366">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_875" data-name="Rectangle 875" width="26.366" height="26.366" transform="translate(0 0)" fill="none" stroke="#db5c1d" stroke-width="1.2"/>
    </clipPath>
  </defs>
  <g id="Groupe_2752" data-name="Groupe 2752" transform="translate(-399.707 -860.817)">
    <g id="Groupe_2484" data-name="Groupe 2484" transform="translate(399.707 860.817)">
      <g id="Groupe_2483" data-name="Groupe 2483" clip-path="url(#clip-path)">
        <path id="Tracé_1918" data-name="Tracé 1918" d="M25.866,13.183c0,1.584-2.239,2.712-2.81,4.089-.592,1.428.171,3.8-.905,4.879s-3.451.313-4.879.905c-1.377.571-2.5,2.81-4.089,2.81s-2.711-2.239-4.089-2.81c-1.428-.592-3.8.171-4.879-.905S3.9,18.7,3.31,17.272C2.739,15.894.5,14.767.5,13.183s2.239-2.712,2.81-4.089c.592-1.428-.171-3.8.905-4.879S7.666,3.9,9.094,3.31C10.472,2.739,11.6.5,13.183.5S15.9,2.739,17.272,3.31c1.428.592,3.8-.171,4.879.905s.313,3.451.905,4.879C23.627,10.472,25.866,11.6,25.866,13.183Z" fill="none" stroke="#db5c1d" stroke-width="1.2"/>
      </g>
    </g>
    <path id="Tracé_2082" data-name="Tracé 2082" d="M5.358,8.936l3.935,4.892,5.665-6.657" transform="translate(403 863.165)" fill="none" stroke="#db5c1d" stroke-width="1.2"/>
  </g>
</svg>

              </span>
                <p>Des services premium  <br>
                    <span class="spanette">Conciergerie, conseil et assistance, gardiennage et transport VIP.</span></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>




<section>

  <div class="frise-container">
    <!-- Partie gauche -->
    <div class="frise-part frise-left">
      <div class="background-dots"></div>
      <svg xmlns="http://www.w3.org/2000/svg" width="312" height="68.525" viewBox="0 0 1301.653 68.525">
        <path d="M15234,1815.511s305.408,67.785,633.639,0,666.36,0,666.36,0"
              transform="translate(-15233.134 -1781.248)"
              fill="none" stroke="#f4e8d4" stroke-width="40"/>
      </svg>
    </div>

    <!-- Partie centrale avec icônes et textes -->
    <div class="frise-part frise-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="1300" height="68.525" viewBox="0 0 1301.653 68.525">
        <path d="M15234,1815.511s305.408,67.785,633.639,0,666.36,0,666.36,0"
              transform="translate(-15233.134 -1781.248)"
              fill="none" stroke="#db5c1d" stroke-width="8"/>
      </svg>


      <!-- Étapes positionnées sur la frise -->
      <div class="steps-wrapper">
        <div class="step step-1">
          <div class="step-icon">⬇</div>
          <h3>Demande d'adhésion</h3>
          <p>Remplir <span>le formulaire</span> pour faire votre demande.</p>
        </div>

        <div class="step step-2">
          <div class="step-icon">⬇</div>
          <h3>Validation de l'adhésion</h3>
          <p>Nous étudions votre demande et vous serez informé.</p>
        </div>

        <div class="step step-3">
          <div class="step-icon">€</div>
          <h3>Inscription</h3>
          <p>
              Après validation de votre demande, vous serez invité à payer l’adhésion annuelle.
<br>
              <span> Aucun règlement ne vous sera demandé avant la validation de votre adhésion.</span></p>
        </div>
      </div>

    </div>

    <!-- Partie droite -->
    <div class="frise-part frise-right">
      <svg xmlns="http://www.w3.org/2000/svg" width="312" height="68.519" viewBox="0 0 1295.678 68.519">
        <path d="M15234,1815.511s304,67.785,630.724,0,663.295,0,663.295,0"
              transform="translate(-15233.131 -1781.253)"
              fill="none" stroke="#f4e8d4" stroke-width="40"/>
      </svg>
    </div>
  </div>



  <div class="mobile-steps">
    <div class="mobile-step">
      <div class="step-icon">↓</div>
      <h3>Demande d'adhésion</h3>
      <p>Remplir <span>le formulaire</span> pour faire votre demande.</p>
    </div>
    <div class="mobile-step">
      <div class="step-icon">↓</div>
      <h3>Validation de l'adhésion</h3>
      <p>Votre demande est étudiée et un mail vous sera envoyé.</p>
    </div>
    <div class="mobile-step">
      <div class="step-icon">€</div>
      <h3>Inscription</h3>
      <p><span>Aucun règlement</span> ne sera demandé avant validation.</p>
    </div>
  </div>
</section>




<section class="conditions-section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Texte à gauche -->
      <div class="col-md-6">
        <h2 class="h2 mb-4">Les conditions</h2>
        <p class="text-muted">
          Pour devenir membre du club, rien de plus simple, vous devez :
        </p>

        <div class="conditions-list">
          <!-- Premier cadre -->
          <div class="condition-box 1" data-aos="fade-right" data-aos-delay="500">
            <span class="icon-heart" data-aos="bounce" data-aos-delay="800">
            </span>
            <span class="condition-text">
             Avoir envie de partager sa passion
            </span>
          </div>
          <!-- Deuxième cadre -->
          <div class="condition-box 2" data-aos="fade-right" data-aos-delay="600">
            <span class="icon-heart"></span>
            <span class="condition-text">
              Partager <span class="highlight">nos valeurs</span>
            </span>
          </div>
        </div>
      </div>

      <!-- Image à droite -->
      <div class="col-md-6" data-aos="fade-down" data-aos-delay="700">
        <div class="conditions-image">
          <img
                  src="{{ asset('images/tytien_Une_Ferrari_Gto_rouge_vue_de_face_sur_le_rond_poind_du_t_c3f8cac9-8b46-4dd2-99f6-b27ed2122343.svg') }}"
                  alt="Ferrari rouge"
          />
        </div>
      </div>
    </div>
  </div>
</section>




<section class="adhesion-header">
  <div class="header-lines">
    <span class="line line-left"></span>
    <div class="header-content">
      <div class="icon-wrapper">
        <img src="{{ asset('images/embleme-orange.svg')}}" alt="Icone" />
      </div>
      <h2 class="h2">Je remplis<br />ma demande d’adhésion</h2>
    </div>
    <span class="line line-right"></span>
  </div>


  <div class="adhesion-container">
    <!-- Image de gauche -->
    <div class="adhesion-image">
      <img src="{{ asset('images/form-image.svg')}}" alt="Photo du rassemblement" />
        <span class="rotating-text adhesion-bien start-animation clublog">
      Bienvenue<br> au club
    </span>
    </div>
    <!-- Formulaire de droite -->
    <div class="adhesion-form">

      <form>
        <!-- Première ligne avec 2 champs -->
        <div class="form-row">
          <label>
            Nom
            <input type="text" name="nom" placeholder="Votre nom de famille" />
          </label>
          <label>
            Prénom
            <input type="text" name="prenom" placeholder="Votre prénom" />
          </label>
        </div>

        <!-- Deuxième ligne avec 2 champs -->
        <div class="form-row">
          <label>
            Email
            <input type="email" name="email" placeholder="contact@exemple.com" />
          </label>
          <label>
            Téléphone
            <input type="tel" name="phone" placeholder="+336 81 00 00 00" />
          </label>
        </div>

        <!-- Adresse prend toute la largeur -->
        <div class="form-row full-width">
          <label>
            Adresse
            <input type="text" name="adress" placeholder="Numéro de rue, code postal, ville" />
          </label>
        </div>

        <!-- Présentation prend toute la largeur -->
        <div class="form-row full-width">
          <label>
            Présentation
            <textarea name="profession" placeholder="Votre profession, vos passions, vous en quelques mots..."></textarea>
          </label>
        </div>

        <!-- Sélecteur -->
        <div class="form-row full-width">
          <label>
            Comment nous avez-vous connus ?
            <select>
              <option>Comment nous avez-vous connus ?</option>
            </select>
          </label>
        </div>

        <!-- Checkbox -->
        <div class="form-checkbox">
          <input type="checkbox" id="accept" />
          <label for="accept">J’accepte de recevoir des communications d’Amicalement Vôtre</label>
        </div>

        <!-- Bouton -->
        <button type="submit" class="cta-button">Envoyer ma demande</button>
      </form>


    </div>
  </div>
</section>






    {% include "_partials/footer.html.twig" %}
{% endblock %}
